---
// Placeholder for the list of all the posts
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/post_section/Post.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

const title = "Posts";
---

<BaseLayout title={title}>
  <div class="container w-full flex flex-col items-center justify-center mx-auto">
    {allPosts.map((post) => <Post post={post} />)}
  </div>
</BaseLayout>
