---
import Nav from "../components/Nav";
import TopButton from "../components/TopButton";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem("theme") === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="bg-primary dark:bg-dk-primary">
    <Nav client:only />
    <slot />
    <TopButton client:only />
  </body>
</html>
<style is:global>
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }

  h1 {
    margin: 0;
    padding: 0;
    color: theme(colors.secondary);
  }

  h2,
  p {
    color: theme(colors.text);
  }
  html.dark h1 {
    color: theme(colors.dk-secondary);
  }

  html.dark h2,
  html.dark p {
    color: theme(colors.dk-text);
  }

  /* Smooth dark mode transition for all elements and some animations on transition */
  * {
    transition:
      background-color 0.5s,
      color 0.5s;
    animation: fadeIn 0.5s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
